/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border-top-color: #5e843e; /* Adjust this color to match your theme */
    animation: spin 1s ease-in-out infinite;
}